<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href='assets/css/style.scss' rel='stylesheet' type='text/css'>
<!--   Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="header">
      <div class="logo">
         <img src="http://www.daskeyboard.com/company-information/press-kit/images/DKlogo_white-2017-02-14.png" alt="Das-Keyboard-Logo" style="width:335px;height:47px;"></img>
      
        <nav>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PRODUCTS <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="http://staging.daskeyboard.com/products/mechanical-keyboards/">Mechanical Keyboards</a></li>
              <li><a href="http://staging.daskeyboard.com/products/accessories/">Accessories</a></li>
              <li><a href="http://staging.daskeyboard.com/products/travel-bags/">Travel Bags</a></li>
            </ul>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SHOP <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MORE... <span class="caret"></span>
            </button>
          </div>
        </nav>
    </div>
      </div>
    <div id="navbar">
        <nav>
          
          <ul class="left-nav">
            <li class="version">Version 1.12 is now available! Read about the new features and fixes.</li>
          </ul>
          <ul class="right-nav">
            <li class="downloads"><a href="#">DOWNLOADS</a></li>
          </ul>
        </nav>
      </div><!-- end header -->
<!--     <section class="page-header">
      <h1 class="project-name">Das Keyboard Q5</h1>
      <h2 class="project-tagline"></h2>
    </section> -->
<div style="margin-top:130px; padding:2rem 6rem;" class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>RELEASES</h1>
      <ul>
        <li>1.0.0-beta.31</li>
        <li>1.0.0-beta.30</li>
        <li>1.0.0-beta.29</li>
        <li>1.0.0-beta.28<li>
    </div>
    <div class="col-md-6">
      {{ content }}
    </div>
  </div>
</div>
   

      <footer class="site-footer">
        <div>
          <a href="http://q.daskeyboard.com/ ">q.daskeyboard.com</a>
          ⋅
          <a href="https://github.com/DasKeyboard/q ">Getting started with Das Keyboard 5Q software</a>
          <p class="copyright text-muted small ">Copyright ©
          <script>
            document.write(new Date().getFullYear())
          </script> Metadot / Das Keyboard, Corp. All Rights Reserved</p>
        </div>
      </footer>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
